.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;

  div.item {
    position: relative;
    overflow: hidden;

    &.main {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    span {
      position: absolute;
      background: $color-menu;
      bottom: 0px;
      left: 0;
      right: 0;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      color: $color-blue;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 2s;

    &:hover {
      width: 120%;
    }
  }
}