@import url('https://fonts.googleapis.com/css?family=Lato');

@import "./inits/_init";
@import "./inits/_utils";

.App {
  /* APP GENERAL CLASSES */
  .app_width {
    width: $width-app;
    margin: auto;
    
    &.app_white {
      background: $color-white; 
      @include boxShadow();
    }
  }

  @import "header";
  @import "center";
  @import "footer";

  @import "media";
}
